header{
    text-align: left;
    font-family: manteiga-gorda,sans-serif;
    padding-left: 20px;
font-weight: 400;
font-style: normal;
font-size: 100px;
color:rgb(43, 116, 43);
-webkit-text-stroke: 2px black;
}
.container { 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 90px;
    word-spacing: -50px;
    letter-spacing: -3px;
    text-align: center;
    font-family: aglet-mono,sans-serif;
font-weight: 400;
font-style: italic;
    }

/* .under{
    z-index:-20;
}

.above{
    z-index:100;
} */

.player{

    position: absolute;
    top:25%;
    left:28%;

}
.link{
    text-align: right;
    font-family: manteiga-gorda,sans-serif;
    padding: 50px;
    padding-top: 0px;
font-weight: 400;
font-style: normal;
font-size: 50px;
color:rgb(235, 77, 77);
}
